.error{
    color: #a00f0f;
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;
}
.profile-pic{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 100%;
}
.div-inline{
    display: inline-block;
}